.add-button{
  border-radius: 50%;
  bottom: 25%;
  background-color: rgba(51, 51, 51, 0.711);
  color: #fff;
  display: inline-block;
  font-size: 3rem;
  position: fixed;
  text-align: center;
  line-height: 80px;
  right: 5%;
  height: 80px;
  width: 80px;
  @include sp{
    width: 60px;
    height: 60px;
    line-height: 60px;
    bottom: 18%;
  }
}
.item{
  position: relative;
  .option-button{
    font-size: 4rem;
    transform: rotate(90deg);
    position: absolute;
    display: inline-block;
    right: 2%;
    color: rgb(147, 147, 147);
    @include pc{
      font-size: 2.4rem;
    };
    @include tab{
      font-size: 2.2rem;
    };
    @include sp{
      font-size: 2rem;
      right: -4%;
    };
  }
}
.fa-trash{
  position: absolute;
  font-size: 2rem;
  top: 4%;
  left: 4%;
  @include tab{
    font-size: 1.5rem;
  };
  @include sp{
    font-size: 1rem;
  };
}
.outfit-button{
  background-color:#d4d4d48f;
  bottom: 8%;
  border-radius: 50%;
  color: #fff;
  height: 80px;
  line-height: 80px;
  opacity: 1;
  position: fixed;
  right: 5%;
  text-align: center;
  transition-duration: 0.6s;
  width: 80px;
  @include sp{
    height: 60px;
    line-height: 60px;
    width: 60px;
  }
  a{
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    filter: invert(1);
    pointer-events:auto;
  }
}

.pre-selected{
  &:hover span {
    opacity: 1;
    visibility: visible;
  }
  span{
    opacity: 0;
    transition: 0.6s;
    background: rgba(0, 0, 0, 0.541);
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    padding: 5px;
    width: 380px;
    height: 100%;
    bottom: 0;
    right: 200%;
    text-align: center;
    border-radius: 5px;
    visibility: hidden;
    pointer-events: none;
    filter: invert(1);
    @include sp{
      width: 300px;
      font-size: 1.2rem;
    }
  }
}
.pre-add-button{
  border-radius: 50%;
  bottom: 25%;
  background-color: #d4d4d48f;
  color: #fff;
  display: inline-block;
  font-size: 3rem;
  position: fixed;
  text-align: center;
  line-height: 80px;
  right: 5%;
  height: 80px;
  width: 80px;
  @include sp{
    width: 60px;
    height: 60px;
    line-height: 60px;
    bottom: 18%;
  }
  &:hover span {
    opacity: 1;
    visibility: visible;
  }
  span{
    opacity: 0;
    transition: 0.6s;
    background: rgba(0, 0, 0, 0.541);
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    padding: 5px;
    width: 380px;
    height: 100%;
    bottom: 0;
    right: 120%;
    text-align: center;
    border-radius: 5px;
    visibility: hidden;
    pointer-events: none;
    @include sp{
      width: 300px;
      font-size: 1.2rem;
    }
  }
}
