<h2>プライバシーポリシー</h2>
<div class="box-wrapper" style="font-size:1.4rem;">
<h3>利用者の情報を利用する目的</h3>
<h4>当サービスは、利用者から取得した情報を、以下の目的のために利用します。</h4>
<ol>
  <li>利用者の当サービスの利用履歴を管理するため</li>
  <li>当サービスにおける利用者の行動履歴を分析し、当サービスの維持改善に役立てるため</li>
  <li>以上の他、当サービスの提供、維持、保護及び改善のため</li>
</ol>
<h3>第三者提供</h3>
<h4>当サービスは、利用者から取得する情報のうち、個人データ（個人情報保護法第２条第６項）に該当するものついては、あらかじめ利用者の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。 但し、次の場合は除きます。</h4>
<ol>
  <li>個人データの取扱いを外部に委託する場合</li>
  <li>当サービスが買収された場合</li>
  <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
  <li>その他、法律によって合法的に第三者提供が許されている場合</li>
</ol>
<h3>アクセス解析ツール</h3>
<h4>当サービスは、利用者のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください。</h4>
<ul>
  <li>https://marketingplatform.google.com/about/analytics/terms/jp/</li>
</ul>
<h3>プライバシーポリシーの変更</h3>
<ol>
  <li>当サービスは、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</li>
</ol>
</div>
