<%= link_to '+', new_mycloset_path, remote: true, class:"add-button js-modal-open" %>
<div class="modal js-modal">
  <div class="modal-bg js-modal-close"></div>
  <div class="modal-content">
      <p id="target">登録した画像はMyClosetに保存されます。</p>
      <a class="js-modal-close mt5">閉じる</a>
  </div>
</div>
