<div class="modal js-<%= type %>-modal">
  <div class="modal-bg js-<%= type %>-modal-close"></div>
  <div class="modal-content js-<%= type %>-modal-content">
    <a class="js-<%= type %>-modal-close mt5">閉じる</a>
  </div>
</div>
