<p>ブランド名とカテゴリーで検索できます。</p>
<%= search_form_for @q, url: url, id:'search-form' do |f| %>
<%= f.search_field :brand_name_name_cont, placeholder: 'ブランド名で検索', class:'input-form' %>
<%= f.select :genre_eq, Clothe.genres.map{|k,v|[Clothe.genres_i18n[k],v]}, {include_blank: 'カテゴリーで検索'}, {class:'select-form'} %>
<%= f.submit '検索する', class:'button' %>
<% end %>
<a class="js-search-modal-close mt5">閉じる</a>
