<footer>
<div class="wrapper">
  <ul class="flex">
    <li>利用規則</li>
    <li>お問い合わせ</li>
    <li>プライバシーポリシー</li>
    <li><small>©LOOK 2022 Inc.ALL Rights Reserved</small></li>
  </ul>
</div>
</footer>
