<footer class="footer">
<div class="wrapper">
  <ul class="flex">
    <li><%= link_to '利用規則', serveice_path %></li>
    <li>お問い合わせ</li>
    <li><%= link_to 'プライバシーポリシー', privacy_path %></li>
    <li><small>©LOOK 2022 Inc.ALL Rights Reserved</small></li>
  </ul>
</div>
</footer>
