<header>
  <div class="header-inner">
  <div class="wrapper">
    <h1><%= link_to 'LOOK', root_path %></h1>
    <div class="no-login">
      <p><%= link_to 'Login', login_path %></p>
      <p>SignUp</p>
    </div>
  </div>
</div>
</header>
