<nav>
  <div class="wrapper">
    <ul class="flex">
      <li class="<%= 'current-nav' if current_page?(clothes_path)%>"><%= link_to 'ShareCloset', clothes_path %></li>
      <li class="<%= 'current-nav' if current_page?(myclosets_path)%>"><%= link_to 'MyCloset', myclosets_path %></li>
    </ul>
  </div>
</nav>

