<nav>
  <div class="wrapper">
    <ul class="flex">
      <li><%= link_to 'Men', clothes_path %></li>
      <li>Women</li>
      <li><%= link_to 'MyCloset', myclosets_path %></li>
    </ul>
  </div>
</nav>

