<nav>
  <div class="wrapper">
    <ul class="flex">
      <li><%= link_to 'Men', clothes_path(gender: 0) %></li>
      <li><%= link_to 'Women', clothes_path(gender: 1) %></li>
      <li><%= link_to 'MyCloset', myclosets_path %></li>
    </ul>
  </div>
</nav>

