// @import 'font-awesome-sprockets';
// @import 'font-awesome';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "./mixin";
@import "top";
@import "user_sessions/*";
@import "clothes/*";
@import "myclosets/*";
// 基本設定
html{
  font-size: 62.5%;
}
img{
  max-width: 100%;/*その画像がもともと持つ大きさ以上になることはない、以下になると自動縮小*/
  height: auto;/*縦横比を維持*/
}
body{
  font-family: sans-serif;
  color:rgb(3, 3, 3);
  background-color: #dfdfdf21;
}
input, button, select, textarea {
  -webkit-appearance: none;
}
.webkit{
  -webkit-appearance: none;
}
a{
  color: #333;
  text-decoration: none;
}
h2{
  color: #fff;
  text-align: center;
  background-image: url('assets/text-bg-image.jpg');
  background-size: cover;
}
p{
  font-size: 1.6rem;
  color: #333;
}
.wrapper{
  width: 98%;
  margin: 0 auto;
  max-width: 1280px;
}
.contents-wrapper{
  width: 98%;
  margin: 0 auto;
}
ul{
  list-style: none;
  padding: 0;
}
.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sp-br{
  display: none;
  @include sp{
    display: block;
  }
}
.button{
  width: 100%;
  max-width: 150px;
  height: 30px;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.34);
  background-color: #333;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  border-radius: 7px;
}
// toggleClass
.active{
  display: block;
}
.rotate{
  transform: rotate(90deg);
}
.black{
  color: #333;
}
.opacity{
  opacity: 1;
}
.opacity-half{
  opacity: 0.5;
}
.bg-gray{
  background-color: rgb(115, 115, 115);
}
// header
h1{
  img{
    @include sp{
      width: 80%;
    }
  }
}
.header-inner{
  background-color: rgba(255, 255, 255, 0.957);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .sub-title{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%,0);
  }
  .guestlogin{
    font-size: 1.6rem;
    top: 50%;
    left: 5%;
    transform: translate(0,-35%);
    position: absolute;
  }
  .search-form{
    font-size: 1.6rem;
    top: 50%;
    left: 2%;
    transform: translate(0,-50%);
    position: absolute;
    border-bottom: 1px solid rgba(168, 168, 168, 0.548);
    span{
      font-size: 1.2rem;
      @include sp{
        font-size: 1rem;
      }
    }
  }
  .no-login{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(0px, -50%);
    p{
      display: inline-block;
      &:last-child{
        padding-left: 5px;
        border-left: 1px solid rgb(164, 164, 164);
      }
    }
  }
  h1{
    text-align: center;
    font-size: 2.4rem;
  }
}

// footer
footer{
  margin-top: 4%;
  border-top: 1px solid rgba(168, 168, 168, 0.389);
  padding: 2% 0;
  @include tab{
    padding: 15% 0;
  }
  @include sp{
    padding: 20% 0;
  }
  .wrapper{
    ul{
      @include sp{
        text-align: center;
        display: block;
      }
      li{
        &:not(:last-child){
          @include sp{
          margin-bottom: 2%;
          }
        }
      }
    }
  }
}
.footer-position-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
}
// nav
nav{
  width: 100%;
  border-bottom: 1px solid rgba(168, 168, 168, 0.389);
  margin: 0 auto; 
  .flex{
    justify-content: center;
  }
  ul li{
    font-size: 1.6rem;
    flex-basis: 30%;
    text-align: center;
    a{
      color: rgb(170, 170, 170);
    }
  }
  .current-nav{
    a{
      color: #333;
    }
  }
}
// pagination

.pagination{
  border-top: 1px solid #d2d2d2;
  padding: 1% 0;
  .page-numbers{
    span{
      @include sp{
        max-width: 20px;
      }
    }
  }
  .current{
    color: #008CFF;
  }
  .first-and-prev,.next-and-last,.page-numbers,.empty-div{
    flex-basis: 30%;
  }
  .next-and-last,.first-and-prev{
    font-size: 1.2rem;
  }
  span{
    display: inline-block;
    line-height: 40px;
    max-width: 40px;
    width: 100%;
    &:hover{
      background: #5b5b5b21;
    }
    a{
      display: block;
    }
  }
}
#alert{
  background-image: url('assets/text-bg-image.jpg');
  background-size: cover;
  color: #fff;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
