<%= render 'shared/nav' %>
<p id="alert"><%= alert %></p>
<div class="box-wrapper">
  <div class="box">
    <div class="box-inner-wrapper">
      <div class="box-inner">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

